<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js"></script>
    <link rel="stylesheet" href="homestyle.css">
</head>
<body>
    
    <h1>Registration Form</h1>
    <form action="http://localhost:8089/home/signupuser" method="POST">
        
            
            First name: <input type = "text" name = "first_name"  required/><br><br>
            <br>
            Last name: <input type = "text" name = "last_name" required/><br><br><br>
            Username: <input type = "text" name = "username" required /><br><br><br>
            Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email"  name="email" required placeholder="@gmail.com"></br><br><br>
            Password: <input type="password"  name="password" placeholder="password" required></br><br><br>
            
            <input type="submit" value="Register" id="button">
            <a href="login.html">
                <input type="button" id="button"value="Login" />
            </a>
    </form>
</body>
</html>