#button {
    
    border-radius: 5px;
    background: #000;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 100px;
    margin: 7px;
    outline: none;
  }
  #button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: lightblue;
    border: solid 1px #fff;
    color: white  ;
  }
  .header{
    height:50px;width: 50px;
    float:right;
  }