<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginstyle.css">
    <script src="app.js"></script>
   
</head>
<body>
    <div class="header">
        <h1 id="one">Welcome to Login Page</h1>
    </div>
    <div class="main">
        <form action="http://localhost:8089/home/loginuser" method="POST">
        Email:    <input type="email"  name="email" placeholder="@gmail.com"><br><br><br>
        Password: <input type="password"  name="password" placeholder="password"></br><br><br>
        <button type="submit" value="Login" id="button">Login</button>
    </form>

    </div>
</body>
</html>